@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.classic-frame {
  display: flex;
  gap: 6px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  width: 350px;
  font-family: monospace;
  flex-direction: column;
  
  animation: fadeGrow 0.3s ease-in-out;

  .metadados {
    font-size: 8px;
    display: flex;
    gap: 8px;
    /* justify-content: space-between; */
    align-items: center;
    /* font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100; */

    img {
      height: 24px;
      opacity: 0.8;
      margin-bottom: 5px;
      max-width: 50px;
      object-fit: contain;
    }
  }

  .photo {
    object-fit: contain;
  }

  .lens {
    text-align: right;
    margin-left: auto;
  }

  .bold {
    font-weight: 700;
  }
}
