.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #31363b;
  height: 100dvh;
  width: 30vw;
  color: #fffff8;
  padding: 40px;
}

.slider {
  width: 100%;
  height: 8px;
  appearance: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

/* WebKit (Safari / Chrome) */
.slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
  background: #00e1ff0b;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #00e1ff;
  border-radius: 5px;
  border: none;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-track {
  height: 8px;
  border-radius: 5px;
  background: #00e1ff0b;
}

.slider::-moz-range-progress {
  height: 8px;
  border-radius: 5px;
  background: #00e1ff;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #00e1ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: #00e1ff;
  cursor: pointer;
  border: none;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0px 5px 0px;
}
