.image-upload {
  position: relative;
  margin: 20px;
  padding: 10px;
  border: 2px dashed #00e1ff91;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #00e1ff0b;
  /* background-color: transparent; */
  color: white;

  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 150ms;

  animation: fadeToTop 0.5s ease forwards;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    color: #ffffffb3;
  }
}

.title {
  text-align: center;
  color: #fffef6;
}

.image-upload:hover {
  border-color: #00e1ff;
  background-color: #00e1ff1a;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export-button {
  width: 80%;
}

.trash-button {
  margin-left: 10px;
  width: 15%;
}

.blue-btn {
  padding: 5px;
  border: 2px solid #00e1ff;
  border-radius: 5px;
  color: #f8fbff;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 150ms;
  background-color: #00e1ff1a;
}

.blue-btn:hover {
  background-color: #00e1ff33;
}
