* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #1c1e20;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

@keyframes fadeToTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeGrow {
  0% {
    transform: scale(0.8) translateX(-15vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-15vw);
  }
}

@keyframes fadeGrow2 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  html,
  body {
    align-items: flex-start;
  }
}
